h3{
    color:darkblue;
}

h6 {
    color: #2980B9;
}

#regbtn{
    font-weight:500;
}
#regbtn:hover {
    background: #2238F3;
    color:white;
}

#clsbtn{
    font-weight:500;
}

#clsbtn:hover{
    background:#E83219;
    color:white;
}

#line {
    border-top: 1px solid #4A84BB;
}

#left {
    background: #1684EC;
}

#leftword{
    font-size:60px;
    color:white;

}
