body{
    background-image: url('background.jpg');
}
#crd{
    background-color: #FDFEFE;
    margin: 10px;
    border-radius: 4px 4px;
    padding: 10px;
    box-shadow: 0px 2px 2px skyblue;
}
#logoitem{
    padding: 20px;
}

.card{
    width: 100% !important;
}
#logocard{
    text-align: center;
    box-shadow: 1px 2px 2px skyblue;
}
#logoname{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#logoancar{
    text-decoration: none;
}

#logoimg{
    border-bottom:1px solid black ;
}
.owl-nav .owl-next{
    position: absolute;
    top:calc(30% - 25px);
    right: 0;
    font-size: 80px !important;
    z-index: 1;
    opacity: 1;
    background: transparent !important;
    color: black !important;
}

.owl-nav .owl-prev{
    position: absolute;
    top:calc(30% - 25px);
    left: 0;
    font-size: 80px !important;
    z-index: 1;
    opacity: 1;
    background: transparent !important;
    color: black !important;
}
